/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.ligth-on{
    -webkit-box-shadow:0px 0px 27px 13px rgba(204,232,224,0.9);
-moz-box-shadow: 0px 0px 27px 13px rgba(204,232,224,0.9);
box-shadow: 0px 0px 27px 13px rgba(204,232,224,0.9);
}

.cuerpo{
    background-color: black;
    width: 80px;
    height: 180px;
    display:inline-table;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}
.cuerpo div{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    justify-self: center;
    margin-top: 7px;
}
